{% extends 'base.html' %}


{% block active_prof %}
  active
{% endblock %}

{% block name_page_1 %}
  Profile
{% endblock %}

{% block name_page_2 %}
  Add Project
{% endblock %}

{% block main %}
<section class="min-vh-100 mb-6">
    <div class="page-header align-items-start min-vh-24 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url( {{url_for('static', filename='img/vr-bg.jpg') }})">
      <span class="mask bg-gradient-dark opacity-6"></span>
      
    </div>
    <div class="container">
      <div class="row mt-lg-n20 mt-md-n11 mt-n0">
        <div class="col-xl-6 col-lg-5 col-md-4 mx-auto">
          <div class="card z-index-0">
            <div class="card-header text-center pt-4">
              <h3>Add project form</h3>
            </div>
            <div class="row px-xl-5 px-sm-4 px-3">
              <div class="card-body">
                <form action="{{ url_for('register')}}" method="POST" enctype="multipart/form-data">
                  <label>Title Project</label>  
                  <div class="mb-3">
                      <input type="text" class="form-control" name="title" placeholder="Enter Title" required>
                    </div> 
                    <label>Info about project</label>  
                    <div class="mb-3">
                      <textarea type="text"  class="form-control" name="info_pr" placeholder="Enter info about your project" style="resize: none; height: 300px"></textarea>
                    </div>
                    <div class="mb-3">
                      <input type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2" value="Sign UP">
                    </div> 
                 </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
{% endblock%}